<a href="https://colab.research.google.com/github/anhhahuynh/Excercise-AI/blob/main/AI_W8_Perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from sklearn.linear_model import Perceptron
x = [[0,0],[1,0],[0,1],[1,1]]
y=[0,1,1,1]
model = Perceptron()
model.fit(x,y)
model.score(x,y)

1.0

In [7]:
x1=[[0.5,0],[0,0.5],[0.6,0],[0.51,0],[0,0.51],[10,-2],[-0.2,1]]
y1=model.predict(x1)
print(y1)
model.score(x1,y1)

[0 0 1 1 1 1 1]

1.0

In [11]:
x2 = [[-0.5,-0.5],[-0.5,0.5],[0.3,-0.5],[-0.1,1]]
y2 = [1,1,0,0]
model = Perceptron()
model.fit(x2,y2)
model.score(x2,y2)

1.0

In [13]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [18]:
iris = datasets.load_iris()
x = iris.data
y = iris.target
print(x[:5])
print(y[:5])

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[0 0 0 0 0]

In [59]:
X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.3)
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train) #X_train là chưa scale, X_train_std đã scale dữ liệu
X_test_std = sc.transform(X_test)
#ko sử dụng scale
model = Perceptron(max_iter=40, eta0=0.1,random_state=0) #max_iter là số lần học, eta0 là tốc độ học
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print(y_test)
print(y_pred)
print("Độ chính xác khi chưa scale:",accuracy_score(y_test,y_pred))

[0 2 0 2 0 1 1 1 2 0 1 1 0 2 0 0 0 0 2 1 1 0 1 0 1 1 0 1 0 1 2 0 2 2 0 2 2
 2 0 0 2 0 0 1 2]
[0 2 0 2 0 2 1 1 2 0 1 1 0 2 0 0 0 0 2 1 1 0 1 0 1 0 0 1 0 1 2 0 2 2 0 2 2
 2 0 0 2 0 0 2 2]
Độ chính xác khi chưa scale: 0.9333333333333333

In [70]:
#scale
model = Perceptron(max_iter=40, eta0=0.1,random_state=0)
model.fit(X_train_std,y_train)
y_pred = model.predict(X_test_std)
print(y_test)
print(y_pred)
print("Độ chính xác khi scale:",accuracy_score(y_test,y_pred)) #độ chính xác khi kiểm tra

[0 2 0 2 0 1 1 1 2 0 1 1 0 2 0 0 0 0 2 1 1 0 1 0 1 1 0 1 0 1 2 0 2 2 0 2 2
 2 0 0 2 0 0 1 2]
[0 2 0 2 0 2 0 1 2 0 1 1 0 2 0 0 0 0 2 1 1 0 1 0 1 0 0 0 0 1 2 0 2 2 0 2 2
 1 0 0 2 0 0 1 1]
Độ chính xác khi scale: 0.8666666666666667

In [71]:
import pandas as pd
url = '/content/lung_cancer_examples.csv'
data = pd.read_csv(url)
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [72]:
data = data.drop('Name',axis=1)
     
data = data.drop('Surname',axis=1)
    
data.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [94]:

X=data.loc[:,['Age','Smokes','AreaQ','Alkhol']]
y=data['Result']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

sc = StandardScaler()
sc.fit(X_train)

X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

model = Perceptron(max_iter = 100, eta0 = 0.5,random_state = 0)
model.fit(X_train_std,y_train)

y_pred = model.predict(X_test_std)
print(y_pred[:5])
print(y_test[:5])
print("Độ chính xác khi scale:",round(accuracy_score(y_test,y_pred),4)*100,'%')

[0 1 0 0 1]
35    0
37    1
46    0
1     1
49    1
Name: Result, dtype: int64
Độ chính xác khi scale: 94.44 %

In [100]:
#ko sử dụng scale
model = Perceptron(max_iter=100, eta0=0.5,random_state=0) 
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print(y_test[:5])
print(y_pred[:5])
print("Độ chính xác khi chưa scale:",round(accuracy_score(y_test,y_pred),4)*100,'%')

35    0
37    1
46    0
1     1
49    1
Name: Result, dtype: int64
[0 0 0 1 0]
Độ chính xác khi chưa scale: 83.33 %

In [101]:
import pandas as pd
url = '/content/pima-indians-diabetes.csv'
data = pd.read_csv(url)
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [124]:
X = data.loc[:,['6','148','35','0','33.6','0.627','50']]
y = data['1']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

sc = StandardScaler()
sc.fit(X_train)

X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

model = Perceptron(max_iter = 100, eta0 = 0.3,random_state = 0)
model.fit(X_train_std,y_train)

y_pred = model.predict(X_test_std)
print(y_pred[:5])
print(y_test[:5])
print("Độ chính xác khi scale:",round(accuracy_score(y_test,y_pred)*100,4),'%')

[0 0 0 0 1]
347    0
738    1
164    1
664    0
131    1
Name: 1, dtype: int64
Độ chính xác khi scale: 73.593 %

In [147]:
#ko sử dụng scale
model = Perceptron(max_iter=100, eta0=0.3,random_state=0) 
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print(y_test[:5])
print(y_pred[:5])
print("Độ chính xác khi chưa scale:",round(accuracy_score(y_test,y_pred)*100,4),'%')

347    0
738    1
164    1
664    0
131    1
Name: 1, dtype: int64
[1 0 1 1 1]
Độ chính xác khi chưa scale: 53.2468 %